.card-type-1 {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-type-1 .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-type-1 .card-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-type-1 .card-info h3 {
    margin: 0;
    font-size: 18px;
    color: white; /* Altera a cor das letras para branco */
}

.card-type-1 .card-info p {
    margin: 0;
    color: gray; /* Altera a cor das letras para cinza */
}

.card-type-1 .card-details p {
    margin: 0;
    color: white; /* Altera a cor das letras para branco */
}

.card-type-1 .card-details strong {
    font-weight: bold;
    color: white; /* Altera a cor das letras para branco */
}
