    </div>
</div>
<!--===== Importação do Script =====-->
<%if(style.admin.js) { style.admin.js.forEach((script)=> { %>
        <script src="<%= urlloader %>/<%= style.pasta %>/<%= script %>"></script>
        <% })}; %>
</body>

</html>