/*
    Css para box.
*/

.box-type-1 {
    overflow: hidden;
    margin-top: 10px;
    background-color: #F5F5F5;
    /* Cor clara do box */
    border-top: 4px solid rgb(38, 0, 255);
    /* Linha verde no teto */
    border-radius: 10px;
}

.box-type-1 .header {
    border-radius: 7px 7px 0px 0px;
    background-color: #333;
    color: white;
    padding: 10px;
    place-items: center;
    display: flex;
}

.box-type-1 .header h2 {
    margin: 0;
    font-size: 24px;
}

.box-type-1 .header p {
    margin: 0;
    font-size: 16px;
    margin-left: 10px;
}

.box-type-1 .content {
    overflow: auto;
    display: flex;
    border-radius: 0px 0px 7px 7px;
    background-color: #161616;
    padding: 10px;
}

.box-type-1 .content a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

/*
    Box type 2
*/
.box-type-2 {
    margin-top: 10px;
    background-color: #F5F5F5;
    /* Cor clara do box */
    border-top: 4px solid rgb(38, 0, 255);
    /* Linha verde no teto */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgba(245, 245, 245, 0.1);
}

.box-type-2 .header {
    border-radius: 7px 7px 0px 0px;
    background-color: #333;
    color: white;
    padding: 10px;
    place-items: center;
    display: flex;
}

.box-type-2 .header h2 {
    margin: 0;
    font-size: 24px;
}

.box-type-2 .header p {
    margin: 0;
    font-size: 16px;
    margin-left: 10px;
}

.box-type-2 .content {
    display: flex;
    /* border-radius: 0px 0px 7px 7px; */
    background-color: #161616;
    padding: 10px;
}

.box-type-2 .content a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.box-type-2 h2 {
    color: #ffffff;
}

.box-type-2 .command {
    margin-bottom: 10px;
}

.box-type-2 .command label {
    font-weight: bold;
    color: #ffffff;
}

.box-type-2 .command-description {
    margin-top: 5px;
    font-size: 14px;
    color: #bebcbc;
}

.box-type-2 .footer {
    border-radius: 0px 0px 7px 7px;
    color: #ffffff;
    background-color: #161616;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.box-type-2 .left-side {
    width: 50%;
    float: left;
}

.box-type-2 .right-side {
    margin-left: 10px;
    width: 50%;
    float: right;
}

.box-type-2 p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.box-type-2 h4 {
    color: #fff;
}

.box-type-2::after {
    content: "";
    display: table;
    clear: both;
}

.box-type-2 .button {
    background-color: #0041cc;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-type-2 .button:hover {
    background-color: #003af7;
}
.box-type-2 .alert-input {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.box-type-2 .text-input {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.box-type-2 .text-input:focus {
    outline: none;
    border-color: #4CAF50;
}

.box-type-2 .label-input {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.box-type-2 .select-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

.box-type-2 .select-input:focus {
    outline: none;
    border-color: #4CAF50;
}

@media screen and (max-width: 600px) {
    .box-type-2 .content {
        display: grid;
    }

    .box-type-2 .left-side,
    .box-type-2 .right-side {
        margin-left: 0px;
        width: 100%;
        float: none;
    }
}

/*
    Box 3. para tables
*/
.box-type-3 {
    overflow: hidden;
    margin-top: 10px;
    background-color: #F5F5F5;
    /* Cor clara do box */
    border-top: 4px solid rgb(38, 0, 255);
    /* Linha verde no teto */
    border-radius: 10px;
}

.box-type-3 .header {
    border-radius: 7px 7px 0px 0px;
    background-color: #333;
    color: white;
    padding: 10px;
    place-items: center;
    display: flex;
}

.box-type-3 .header h2 {
    margin: 0;
    font-size: 24px;
}

.box-type-3 .header p {
    margin: 0;
    font-size: 16px;
    margin-left: 10px;
}

.box-type-3 .header a {
    margin-left: auto;
}

.box-type-3 .header button {
    margin-left: auto;
    background-color: #02658b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box-type-3 .header button:hover {
    background-color: rgb(51, 136, 136);
    box-shadow: 0 0 10px rgb(4, 155, 155);
}

.box-type-3 .content {
    overflow: auto;
    display: flex;
    border-radius: 0px 0px 7px 7px;
    background-color: #161616;
}

.box-type-3 .content a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.box-type-3 .footer {
    border-radius: 0px 0px 7px 7px;
    color: #ffffff;
    background-color: #161616;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.box-type-3 .warn {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

/*
    Css para formularios.
*/

.form-box {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
}

.form-box h3 {
    margin: 0;
    margin-bottom: 5px;
}

.form-box p {
    margin: 0;
    margin-bottom: 5px;
}

.form-box input[type="text"],
.form-box select {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

/*
    Form-group
*/
.Form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
    Table 1
*/

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    /* Reduzindo o tamanho das letras para 14px */
    background-color: #7c7c7c;
    /* Fundo cinza */
    color: white;
}

th,
td {
    border: 1px solid #ffffff1f;
    /* Bordas brancas */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #7c7c7c;
    /* Fundo cinza */
}

tr:nth-child(odd) {
    background-color: #7c7c7c;
    /* Fundo cinza */
}

tr:nth-child(even) {
    background-color: transparent;
    /* Fundo transparente */
}

tr:first-child th {
    border-top: none;
}

tr th:last-child {
    border: none;
}

.delete-icon {
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 600px) {
    table {
        width: auto;
        height: auto;
        overflow-x: auto;
        scrollbar-color: rebeccapurple green;
    }
}

/*
    Toggle Switch
*/
.toggle-switch {
    margin-left: auto;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.toggle-switch input:checked+.slider {
    background-color: #2196F3;
}

.toggle-switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.toggle-switch .slider.round {
    border-radius: 34px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}