<%- await include('../partials/top.ejs') %>
    <!-- Aqui começa o conteúdo da admin -->
    <div class="box-type-2">
        <div class="header">
            <h2>Criando novo token</h2>
            <p>Setando configurações para criação do token</p>
        </div>
        <div class="content">
            <div class="left-side">
                <form action="/admin/application-api/create" method="post">

                    <div style="margin-top: 10px;"></div>

                    <div class="command">
                        <label for="ident">Identificação:</label>
                        <input type="text" id="ident" name="ident" class="text-input">
                        <p class="command-description">Uma Identificação unica e curta para o token.</p>
                    </div>

                    <div class="command">
                        <label for="ident">Descrição:</label>
                        <input type="text" id="desc" name="desc" class="text-input">
                        <p class="command-description">Uma Descrição para o token(opcional).</p>
                    </div>
            </div>
            <div class="right-side">

                <div class="command">
                    <div class="Form-group">
                        <label for="clientAccess">Acesso da área dos clientes</label>
                        <label class="toggle-switch right">
                            <input type="checkbox" id="clientAccess" name="clientAccess"
                                onchange="toggleSwitch('clientAccess')">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p class="command-description">permite que o token possua acesso para a area /client/*.</p>
                </div>

                <div class="command">
                    <div class="Form-group">
                        <label for="adminAccess">Acesso da área dos Administradores</label>
                        <label class="toggle-switch right">
                            <input type="checkbox" id="adminAccess" name="adminAccess"
                                onchange="toggleSwitch('adminAccess')">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p class="command-description">permite que o token possua acesso para a area /admin/*.</p>
                </div>

                <div class="command">
                    <div class="Form-group">
                        <label for="rootAccess">Acesso da área root (/)</label>
                        <label class="toggle-switch right">
                            <input type="checkbox" id="rootAccess" name="rootAccess"
                                onchange="toggleSwitch('rootAccess')">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p class="command-description">permite que o token tenha acesso a todas as areas não verificadas.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <input type="submit" value="Criar Token" class="button">
            </form></div>
    </div>
    <%- await include('../partials/footer.ejs') %>