body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

/* Estilo da primeira sidebar */
.static-sidebar {
  width: 60px;
  /* Desativado por enquanto*/
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  display: none;
  /* Desativado por enquanto*/
  /* Altura da página */
}

/* Estilo do círculo na primeira sidebar */
.circle {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Garante que a imagem não ultrapasse o círculo */
}

.circle img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  /* Torna a imagem circular */
}

/* Estilo da segunda sidebar */
.dynamic-sidebar {
  width: 200px;
  background-color: #444;
  color: #fff;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  /* Altura da página */
}

/* Estilo do botão para abrir e fechar a segunda sidebar */
.toggle-button {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilo dos ícones e títulos das páginas */
.page-item {
  padding: 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.page-item:hover {
  background-color: #555;
}

.circle-title {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Garante que a imagem não ultrapasse o círculo */
}

.circle-title img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  /* Torna a imagem circular */
}

/* Estilo do título na segunda sidebar */
.sidebar-title {
  margin-top: 20px;
  font: bold;
}

/* Estilo quando o mouse está em cima dos itens das páginas */
.page-item:hover {
  background-color: #555;
}

/* Estilo do header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  position: relative;
  width: 100%;
  z-index: 1;
  padding-bottom: 10px;
  padding-top: 10px;
  /* Colocar o header na frente da sidebar */
}

/* Estilo do círculo de abrir e fechar a sidebar */
.toggle-sidebar {
  width: 40px;
  height: 40px;
  background-color: #666;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilo do nome "Dashboard" */
.dashboard-name {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
}

.user-info {
  display: flex;
}

/* Estilo do círculo de imagem do usuário */
.user-image {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
  /* Garante que a imagem não ultrapasse o círculo */
}

.user-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  /* Torna a imagem circular */
}

.user-details {
  margin-right: 10px;
}

/* Estilo do nome do usuário */
.user-name {
  color: #fff;
  margin-top: 5px;
  font-weight: bold;
}

/* Estilo do cargo do usuário */
.user-role {
  color: #fff;
  font-size: 12px;
}

/* Estilo do container */
.container {
  flex: 1;
  background: #141414;
}

/* Aqui começa os estilos dentro do painel*/
.conteudo {
  height: 100vh;
  flex: 1 1 auto;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
}

.conteudo::-webkit-scrollbar {
  width: 10px;
}

.conteudo::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 4px;
}

.conteudo::-webkit-scrollbar-thumb:hover {
  background-color: #474747;
}

.conteudo::-webkit-scrollbar-track {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #272727;
  border-radius: 4px;
}

.box {
  background: #1b1b1b;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 1px rgba(245, 245, 245, 0.1);
}
.box-2 {
  background: #3b3b3b;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 1px rgba(245, 245, 245, 0.1);
}

h2 {
  color: #ffffff;
}

.command {
  margin-bottom: 10px;
}

.command label {
  font-weight: bold;
  color: #ffffff;
}

.command-description {
  margin-top: 5px;
  font-size: 14px;
  color: #bebcbc;
}

.footer {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font: bold;
}

.left-side {
  width: 50%;
  float: left;
}

.right-side {
  width: 50%;
  float: right;
}

p {
  color: #fff;
  font-size: 14px;
  font: bold;
}
/* Limpar o float após as divs */
.box::after {
  content: "";
  display: table;
  clear: both;
}
.box-2::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #4CAF50;
  /* Cor de fundo */
  color: #ffffff;
  /* Cor do texto */
  padding: 10px 20px;
  /* Espaçamento interno (vertical horizontal) */
  font-size: 16px;
  /* Tamanho da fonte */
  border: none;
  /* Remover borda */
  border-radius: 4px;
  /* Arredondar as bordas */
  cursor: pointer;
  /* Cursor de ponteiro */
}

.button:hover {
  background-color: #45a049;
  /* Cor de fundo ao passar o mouse */
}

.text-input {
  /* Espaçamento interno */
  font-size: 14px;
  /* Tamanho da fonte */
  border: 1px solid #ccc;
  /* Borda com cor cinza */
  border-radius: 4px;
  /* Arredondar as bordas */
}

.text-input:focus {
  outline: none;
  /* Remove o contorno ao receber foco */
  border-color: #4CAF50;
  /* Altera a cor da borda ao receber foco */
}

.label-input {
  display: block; /* Mostra o label em uma linha separada */
  font-weight: bold; /* Define a fonte em negrito */
  margin-bottom: 5px; /* Espaçamento inferior */
  color: #fff;
}
/* Estilo para o elemento select */
.select-input {
  width: 100%; /* Define a largura do select */
  padding: 10px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
  border: 1px solid #ccc; /* Borda com cor cinza */
  border-radius: 4px; /* Arredondar as bordas */
  background-color: #fff; /* Cor de fundo */
  margin-bottom: 10px;
}

.select-input:focus {
  outline: none; /* Remove o contorno ao receber foco */
  border-color: #4CAF50; /* Altera a cor da borda ao receber foco */
}

.input-file {
  position: relative;
  display: inline-block;
}

.input-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input-file-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4e89e0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.input-file input[type="file"]:focus + .input-file-label,
.input-file input[type="file"]:valid + .input-file-label {
  outline: 2px solid #4e89e0;
}

#file-name {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font: bold;
  color: #ffffff;
}
/* Alertas do codigo */

.alert {
  font: bold;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alert-success {
  font: bold;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* ------------ */
.user-logout {
  text-decoration: none;
  color: #ff0505;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .dynamic-sidebar {
    width: 0px;
    position: absolute;
    margin-top: 70px;
  }

  .left-side,
  .right-side {
    width: 100%;
    float: none;
  }
}
