<!DOCTYPE html>
<html>

<head>
    <title>Configuração do Ecossistema do Bot</title>
</head>

<body>
    <h1>Tempo de Atividade do Bot - <%= name %>
    </h1>
    <p>O bot está online há <%= uptime %> segundos.</p>
</body>

</html>