/*
 * Alertas do sistema, e configurações da admin
 *
 */

 .alert-system {
    font: bold;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid rgb(150, 0, 0);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.alert-error {
    font: bold;
    padding: 20px;
    background-color: #222222;
    color: white;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid rgb(150, 0, 0);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alert-success {
    font: bold;
    padding: 20px;
    background-color: #222222;
    color: white;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid rgb(0, 165, 63);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: rgb(75, 75, 75);
}